/**  index.wxss  **/

page {
  background: #f5f5f5;
}

.banner-show-background {
  position: relative;

  .back-img {
    width: 750rpx;
    height: 306rpx;
    background: linear-gradient(121deg, #fff0eb 0%, #dce2fb 100%);
  }

  .banner {
    position: absolute;
    top: 30rpx;
    left: 30rpx;
    width: 690rpx;
    height: 300rpx;
    border-radius: 16rpx;
    // swiper-item {
    //   background-color: red;
    // }
    image {
      width: 100%;
      border-radius: 10rpx;
    }
  }
}
