page {
  --main-color: #ff547b;
}

page,
view,
text,
image,
button,
video,
map,
scroll-view,
swiper,
input,
textarea,
navigator {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 200rpx 0;
}
